body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
}


header {
    display: flex;
    align-items: center;
    gap: 2.5px;
    background-color: #f9fafb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    margin-bottom: 1em;
}



a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;
}


table a {
    color: #2563eb;
}


a:hover {
    color: #1d4ed8;
    text-decoration: underline;
}


header img {
    margin-left: 10%;
}


.container-table {
    margin-bottom: 3em;
}


main {
    padding-left: 10%;
    padding-right: 10%;


    display: flex;
    gap: 1.5em;
}


main h1 {
    font-size: 25px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    border: 1px solid #f9fafb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;      


}


header h1 {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 1em;
    text-align: left;
}


tbody th {
    font-size: 15px;
}


th {
    padding: 0.75em;
}


table thead tr th {
    border-bottom: 1px solid #cacaca;
    background-color: #f9fafb;


    font-weight: normal;
}


table tbody tr th {
    font-weight: normal;
    border-bottom: 1px solid #cacaca;
    text-align: left;
}


.container-table-parragraph {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}



tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.toggle-menu {
    display: none;
}

aside {
    width: 200px;
    position: sticky;
    top: 2em;
    align-self: flex-start;
    height: fit-content;
    max-height: calc(100vh - 4em);
    border: 1px solid #ededed;
    padding-left: 1em;
    padding-right: 1em;

    border-radius: 12px;



}


.information-section h1 {
    margin-top: 0px;
}


aside ul {
    list-style: none;
    padding: 0;
}


aside li {
    margin-bottom: 1em;
    font-size: 15px;
    font-weight: 400;
}


aside h3 {
    font-size: 1.2em;
}

h5 {
    text-align: left;
}



footer {
    margin-top: 1em;
    padding: 0.25em;
    color: white;
    background-color: black;
    font-weight: normal;
}


footer p {
    margin-left: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}


@media (max-width: 768px) {
    main {
        padding-left: 5%;
        padding-right: 5%;
        display: block; /* Cambiar de flex a block */
    }

    /* Botón fijo en la esquina o en la parte superior */
    .toggle-menu {
        display: block;
        width: auto;
        padding: 0.75em 1.5em;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        margin-bottom: 1em;
        position: sticky;
        top: 1em;
        z-index: 998;
    }
    
    /* Sidebar oculto por defecto */
    aside {
        position: fixed;
        top: 0;
        left: -280px;
        width: 250px;
        height: 100vh;
        background-color: white;
        z-index: 1000;
        transition: left 0.3s ease;
        padding: 1em;
        box-shadow: 2px 0 10px rgba(0,0,0,0.1);
        overflow-y: auto;
        border: 1px solid #ededed;
    }

    aside.active {
        left: 0;
    }

    .aside-content {
        display: block;
    }

    /* Botón de cerrar dentro del sidebar (opcional) */
    aside .close-btn {
        display: block;
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
        background-color: #f3f4f6;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none;
    }

    .overlay.active {
        display: block;
    }

    .information-section {
        width: 100%;
    }

    header h1 {
        font-size: 1em;
        font-weight: 400;
        padding-left: 0.5em;
        text-align: left;
    }

    header img {
        height: 50px;
        width: 50px;

        margin-left: 0%;
    }

    header {
        align-items: center;
        justify-content: center;
    }

}